.pa-xs {
    padding: 4px;
}

.pa-sm {
    padding: 8px;
}

.pa-md {
    padding: 16px;
}

.pa-lg {
    padding: 24px;
}

.pa-xl {
    padding: 46px;
}

.my-md {
    margin: 16px 0;
}

.mx-md {
    margin: 0 16px;
}

.mr-sm {
    margin-right: 8px;
}

.mr-md {
    margin-right: 16px;
}

.mr-lg {
    margin-right: 24px;
}

.mr-xl {
    margin-right: 46px;
}

.ma-md {
    margin: 16px;
}

.py-md {
    padding: 16px 0;
}

.px-md {
    padding: 0 16px;
}

.pr-sm {
    padding-right: 8px;
}

.pl-md {
    padding-left: 16px;
}

.pl-lg {
    padding-left: 24px;
}

.pt-xs {
    padding-top: 4px;
}

.pt-sm {
    padding-top: 8px;
}

.pb-md {
    padding-bottom: 16px;
}