.logo {
    background-color: #46184A;
}

.cursor-pointer {
    cursor: pointer;
}

.font-11 {
    font-size: 11px;
}

.font-12 {
    font-size: 12px;
}

.text-bold {
    font-weight: 700;
}

.opacity-60 {
    opacity: 60%;
}

.text-center {
    text-align: center;
}

.no-wrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

h3 {
    font-size: 24px;
    color: #56CCF2;
    line-height: 36px;
    font-weight: 500;
    font-style: normal;
}