.logo {
    background-color: #46184A;
}

.cursor-pointer {
    cursor: pointer;
}

.font-11 {
    font-size: 11px;
}

.text-bold {
    font-weight: 700;
}

.opacity-60 {
    opacity: 60%;
}

.text-center {
    text-align: center;
}

.no-wrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}